<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descrição Escolar</title>

    <!-- Configurações padrões para todas as páginas -->
    <link rel="stylesheet" href="../../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="header">
        <ul>
            <a href="../../index.html"><li>Home</li></a>
            <a href="../../views/trabalho-atual/index.html"><li>Trabalho atual</li></a>
            <a href="#"><li class="selected">Vida Acadêmica</li></a>
            <a href="../../views/grade-curricular-una/index.html"><li>Curso SI Una</li></a>
        </ul>
    </div>
    <div class="content">
        
    </div>
    <div class="footer">
        <span class="title">Desenvolvedores</span>
        <div class="developers">
            <div class="profile">
                <p>Raphael de Oliveira Moura</p>
                <div class="social-networks">
                    <a href="#"><img src="../../assets/icon-facebook.png"></a>
                    <a href="#"><img src="../../assets/icon-github.png"></a>
                    <a href="#"><img src="../../assets/icon-linkedin.png"></a>
                </div>
            </div>
            <div class="profile">
                <p>Amanda Galvão Baece</p>
                <div class="social-networks">
                    <a href="#"><img src="../../assets/icon-facebook.png"></a>
                    <a href="#"><img src="../../assets/icon-linkedin.png"></a>
                </div>
            </div>           
        </div>  
        <p>Website desenvolvido pelo curso de Sistemas da Informação, Una Contagem</p>
        <p>Contagem, 2019</p>
    </div>
</body>
</html>