<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descrição Escolar</title>

    <!-- Configurações padrões para todas as páginas -->
    <link rel="stylesheet" href="../../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div class="header">
        <ul>
            <a href="../../index.html"><li>Home</li></a>
            <a href="../../views/trabalho-atual/index.html"><li>Trabalho atual</li></a>
            <a href="#"><li class="selected">Vida Acadêmica</li></a>
            <a href="../../views/grade-curricular-una/index.html"><li>Curso SI Una</li></a>
        </ul>
    </div>
    <div class="content">
        <div class="card">
            <div class="logo-image">
                <img src="../../assets/logo-cefet.png">
            </div>
            <h3 class="title">Informática</h3>
            <div class="description">
                <p>O Centro Federal de Educação Tecnológica de Minas Gerais (CEFET-MG) é uma autarquia federal
                    brasileira, vinculada ao Ministério da Educação, que oferece ensino médio, cursos técnicos,
                    superiores, pós stricto sensu e lato sensu, contemplando também, de forma indissociada, o
                    ensino, a pesquisa e a extensão, na área tecnológica e no âmbito da pesquisa aplicada.</p>
            </div>
        </div>
        <div class="parallax"></div>
        <div class="card">
            <h3 class="title">Conteúdo</h3>
            <div class="skill-content">
                <span class="skill-tag">Lógica e introdução a programação</span>
                <div class="badges">
                    <div class="badge">
                        <img src="../../assets/icon-c++.png">
                    </div>
                    <div class="badge">
                        <img src="../../assets/icon-portugol.png">
                    </div>
                    <div class="badge">
                        <img src="../../assets/icon-java.png">
                    </div>
                </div>
                <div class="description">
                    <p>Durante o primeiro ano no cefet é introduzido a lógica de programação, tais como estrutura de
                        repetição,
                        condicionais etc. Primeiro com linguagens de alto nível com alto grau de abstração e fácil
                        entendimento,
                        voltado para quem nunca teve contato com tais ferramentas e tecnologias.
                        Durante o decorrer dos dois últimos anos, focamos no desenvolvimento orientado a objetos POO,
                        estudando sobre como estruturar melhor o código. Foi introduzido alguns padrões de projetos e
                        boas práticas na hora de codificar.
                    </p>
                </div>
            </div>
            <div class="skill-content">
                <span class="skill-tag">Desenvolvimento WEB</span>
                <div class="badges">
                    <div class="badge">
                        <img src="../../assets/icon-html.png">
                    </div>
                    <div class="badge">
                        <img src="../../assets/icon-css.png">
                    </div>
                    <div class="badge">
                        <img src="../../assets/icon-js.png">
                    </div>
                    <div class="badge">
                        <img src="../../assets/icon-php.png">
                    </div>
                </div>
                <div class="description">
                    <p>Durante os três anos tivemos contato com desenvolvimento WEB utilizando HTML, CSS, JavaScript e
                        PHP. Utilizamos também em alguns projetos a framework Bootstrap para agilizar o processo de
                        estilização de alguns componentes. Tivemos contato também no terceiro ano com a framework
                        Laravel, framework essa baseada em PHP e muito utilizada no mercado atualmente.</p>
                </div>
            </div>
            <div class="skill-content">
                <span class="skill-tag">Desenvolvimento Mobile</span>
                <div class="badges">
                    <div class="badge">
                        <img src="../../assets/icon-android.png">
                    </div>
                    <div class="badge">
                        <img src="../../assets/icon-xml.png">
                    </div>
                </div>
                <div class="description">
                    <p>No terceiro ano tivemos a matéria de desenvolvimento em android nativo, utlizando java e xml.
                        Como IDE utilizamos o Android Studio, ferramenta essa que tem um grande suporte para o
                        desenvolvimento android.</p>
                </div>
            </div>
            <div class="skill-content">
                <span class="skill-tag">Outros</span>
                <div class="badges">
                    <div class="badge">
                        <img src="../../assets/icon-sql.png">
                    </div>
                    <div class="badge">
                        <img src="../../assets/icon-linux.png">
                    </div>
                    <div class="badge">
                        <img src="../../assets/icon-mongo-db.png">
                    </div>
                </div>
                <div class="description">
                    <p>Além de lógica de programação, tivemos contato com banco de dados e consequentemente com SQL.
                        Vimos as diferenças entre banco de dados relacionais e não relacionais, trabalhamos com MySql e
                        MongoDB. Além disso utilizamos os sistemas operacionais Windows e linux para desenvolver</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <span class="title">Desenvolvedores</span>
        <div class="developers">
            <div class="profile">
                <p>Raphael de Oliveira Moura</p>
                <div class="social-networks">
                    <a href="#"><img src="../../assets/icon-facebook.png"></a>
                    <a href="#"><img src="../../assets/icon-github.png"></a>
                    <a href="#"><img src="../../assets/icon-linkedin.png"></a>
                </div>
            </div>
            <div class="profile">
                <p>Amanda Galvão Baece</p>
                <div class="social-networks">
                    <a href="#"><img src="../../assets/icon-facebook.png"></a>
                    <a href="#"><img src="../../assets/icon-linkedin.png"></a>
                </div>
            </div>
        </div>
        <p>Website desenvolvido pelo curso de Sistemas da Informação, Una Contagem</p>
        <p>Contagem, 2019</p>
    </div>
</body>

</html>