/* 
    Remoção das margens e configurações padrões da página
    Adição de uma fonte baixada dinamicamente no Google para toda a página
*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*
    Configuração do container do cabeçalho da página
*/
.header{
    box-shadow: 0 0 6px 0px #585a5ae0;
    background-color: #ff0000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
}

/*
    Configurações da lista de opções do cabeçalho
*/
.header ul{
    list-style: none;
    margin: 0;
}

.header ul .selected{
    background-color: #3e39393d;
}

/*
    Configuração dos items presente na lista de opções do cabeçalho
*/
.header ul li{
    display: inline-block;
    font-size: 1em;
    text-transform: uppercase;
    margin-left: 16px;
    padding: 16px;
}

.header ul li:hover{
    background-color: #f10000;
}

.header ul .selected:hover{
    background-color: #3e39393d;
}

/*
    Configuração da fonte dos items do cabeçalho
*/
.header ul a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/*
    Container com o conteudo da pagina
*/
.content{
    background-color: #25242414;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

/*
    Card com as informações de cada um dos autores
*/
.content .card{
    box-shadow: 0 0 6px 0px #585a5a38;
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 6px;
    padding: 16px;
    cursor: pointer;
    transition-duration: 600ms;
}

.content .card:hover{
    box-shadow: 0 0 8px 1px #585a5a61;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 600ms;
}

/*
    Imagem de perfil dos autores
*/
.content .profile-image{
    width: 16em;
    height: 16em;
    border-radius: 100%;
}

/*
    Titulo como nome dos autores do projeto
*/
.content .card .title{
    font-size: 1.2em;
    text-transform: uppercase;
}

/*
    Subtitulo dos autores do projeto
*/
.content .card .subtitle{
    color: #888787;
    font-size: 0.8em;
    text-align: center;
}

/*
    Descrição com informações de cada autor do projeto
*/
.content .card .description{
    padding: 26px;
    font-size: 0.8em;
    text-align: justify;
}

/*
    Container que contem todas habilidades
*/
.content .skills{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*
    Representa o container de uma habilidade especifica
*/
.content .skills .skill{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
}

/*
    Descricao da habilidade
*/
.content .skills span{
    color: #888787;
    font-size: 0.8em;
}

/*
    Container com as bolinhas de cada habilidade
*/
.content .skills .points{
    display: flex;
    flex-direction: row;
}

/*
    Bolinha preenchida
*/
.content .skills .fill-point{
    width: 1em;
    height: 1em;
    background-color: #888787;
    border-style: solid;
    border-radius: 100%;
    border-width: 1px;
    border-color: #888787;
    margin: 1px;
}

/*
    Bolinha vazia
*/
.content .skills .empty-point{
    width: 1em;
    height: 1em;
    background-color: white;
    border-style: solid;
    border-radius: 100%;
    border-width: 1px;
    border-color: #888787;
    margin: 1px;
}

/*
    Configuração do rodapé da página para deixa-la sempre fixa na parte de baixo da página
*/
.footer{
    background-color: #ff0000;
    color: white;
    text-align: center; 
    padding: 16px;
    position: static;
    left: 0;
    bottom: 0;
}

.footer .title{
    text-transform: uppercase;
}

.footer .developers{
    display: flex;
    flex-direction: row;
    padding: 16px 0px;
}

.footer .developers .profile{
    width: 50%;
}

.footer .developers .profile .social-networks{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer .developers .profile .social-networks img{
    width: 2em;
    height: 2em;
    margin: 6px;
    border-radius: 100%;
    padding: 2px;
}

.footer .developers .profile .social-networks img:hover{
    background-color: white;
}

/*
    Estilo para qualquer bootao criado na pagina
*/
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    padding: 4px 8px;
    margin: 0;
}

/*
    Remoção da margem de qualquer tag h3
*/
h3{
    margin: 0px;
}

p{
    margin: 0px;
    font-size: 0.8em;
}

.parallax {
    height: 300px; 
    width: calc(100vw - 18px);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 46px 0;
}