<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho Atual</title>

    <!-- Configurações padrões para todas as páginas -->
    <link rel="stylesheet" href="../../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div class="header">
        <ul>
            <a href="../../index.html"><li>Home</li></a>
            <a href="#"><li class="selected">Trabalho atual</li></a>
            <a href="../../views/descricao-escolar/index.html"><li>Vida Acadêmica</li></a>
            <a href="../../views/grade-curricular-una/index.html"><li>Curso SI Una</li></a>
        </ul>
    </div>
    <div class="content">
        <div class="card">
            <div class="logo-image">
                <img src="../../assets/logo-group-software.png">
            </div>
            <h3 class="title">Group Software Ltda</h3>
            <span class="subtitle">Empresa de desenvolvimento de softwares voltade para administração de
                condomínios</span>
            <br><span class="subtitle">~Amanda Galvão Baece</span>
            <div class="description">
                ???
            </div>
        </div>
        <div class="card">
            <div class="logo-image">
                <img src="../../assets/logo-kukac.png">
            </div>
            <h3 class="title">Kukac Ltda</h3>
            <span class="subtitle">Empresa de desenvolvimento de softwares focada em soluções para chatbot</span>
            <br><span class="subtitle">~Raphael de Oliveira Moura</span>
            <div class="description">
                Atuo como estagiário de desenvolvimento, trabalhando principalmente com as linguagens JavaScript e
                TypesCript para o back-end utilizando Node. E Html, Css juntamente com Angular para o front-end.
                Foco principal em utilização de APIs do Watson para criação de chatbots.
            </div>
        </div>
    </div>
    <div class="footer">
        <span class="title">Desenvolvedores</span>
        <div class="developers">
            <div class="profile">
                <p>Raphael de Oliveira Moura</p>
                <div class="social-networks">
                    <a href="#"><img src="../../assets/icon-facebook.png"></a>
                    <a href="#"><img src="../../assets/icon-github.png"></a>
                    <a href="#"><img src="../../assets/icon-linkedin.png"></a>
                </div>
            </div>
            <div class="profile">
                <p>Amanda Galvão Baece</p>
                <div class="social-networks">
                    <a href="#"><img src="../../assets/icon-facebook.png"></a>
                    <a href="#"><img src="../../assets/icon-linkedin.png"></a>
                </div>
            </div>
        </div>
        <p>Website desenvolvido pelo curso de Sistemas da Informação, Una Contagem</p>
        <p>Contagem, 2019</p>
    </div>
</body>

</html>